@{
    ViewBag.Title = "Labs Management";
}
@Styles.Render("~/Content/LabParmsCss")


@model HmsServices.Models.LabParmsResponseModel
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggled" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> Lab Parms List View <div class="ripple-container"></div></a>
        </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group is-empty">
                    <input type="text" class="form-control" placeholder="Search" id="searchField">
                    <span class="material-input"></span>
                    <span class="material-input"></span>
                </div>
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav>
<div class="content content-opdplsitview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Lab Parms Data</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>Parameter No.</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Unit</th>
                                    <th>Range</th>
                                    <th>Status</th>

                                    <th></th>

                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                @{
                                    if (Model != null && Model.LabParms.Any())
                                    {
                                        foreach (var item in Model.LabParms)
                                        {
                                            var status = item.Status ? "checked" : "";
                                            <tr>
                                                <td>@item.Id</td>
                                                <td id='name_@item.Id'>@item.Name</td>
                                                <td id='name_@item.Id'>@item.Price</td>
                                                <td id='unit_@item.Id'>@item.Unit</td>
                                                <td id='norm_@item.Id'>@item.NormarVal</td>
                                                <td>
                                                    <div class="checkbox ">
                                                        <label>
                                                            <input class="labtestStatus" id="lab_check_@item.Id" type="checkbox" @status>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td title="Edit" class="cursorPointer" onclick="editParm(@Json.Encode(item))" id="editLab_@item.Id"><i class="material-icons">edit</i></td>

                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="paggingDiv" style="margin-left: 20px;"></div>

                </div>
                <button id="createNewTest" type="submit" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal">
                    Add New Parameter
                    <div class="ripple-container"></div>
                </button>
                <img src="~/Images/loading.gif" class="pull-right loading-docs displayNone" />

            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Parameter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="labname" class="form-control-label">Name</label>
                            <input type="text" class="form-control labcls" id="labname">
                        </div>

                        <div class="form-group">
                            <label for="labname" class="form-control-label">Price</label>
                            <input type="text" class="form-control" id="labprice">
                        </div>
                        <div class="form-group">
                            <label for="labUnit" class="form-control-label">Unit</label>
                            <select class="form-control labcls" id="labUnit" style="height: 40px !important">
                                <option selected="" value="mg">mg</option>
                                <option value="cm">cm</option>
                                <option value="cm">sec</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="range" class="form-control-label">Normal Range</label>
                            <input type="text" placeholder="12-25" class="form-control labcls" id="range">
                        </div>
                       
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addlab">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/LabParms")
<script>
    var pagging= @Html.Raw(Json.Encode(Model.Pagging));
    $("#paggingDiv").pagination({
        items: pagging.TotalItems,
        itemsOnPage: pagging.ItemPerPage,
        cssStyle: 'compact-theme',
        onPageClick: function(pageNumber,event) {
            pagging.Current = (--pageNumber);
            getLabTest();
        }
    });
</script>