@{
    ViewBag.Title = "IP Forms";
}
@Styles.Render("~/Content/IPListViewCss")

@model HmsServices.Models.IpResponseModel
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggled" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> IP List View <div class="ripple-container"></div></a>
        </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group is-empty">
                    <input type="text" class="form-control" placeholder="Search" id="searchField">
                    <span class="material-input"></span>
                    <span class="material-input"></span>
                </div>
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav>
<div class="content content-opdplsitview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">In-Patient Data</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>MR No.</th>
                                    <th>Name</th>
                                    <th>Doctor</th>
                                    <th>Date</th>
                                    <th>Phone</th>
                                    <th>Advance Amount</th>

                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                @{
                                    if (Model != null)
                                    {
                                        foreach (var item in Model.AppIps.ToList())
                                        {
                                            <tr>
                                                <td>@item.PatientNo</td>
                                                <td>@item.Name</td>
                                                <td>@item.DocName (@item.Degree)</td>
                                                <td class="text-primary">@item.DateTime</td>
                                                <td>@item.Phone</td>
                                                <td>
                                                    @item.AdvanceAmount
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="paggingDiv" style="margin-left: 20px;"></div>

                </div>
                <button id="createNewIpBtn" type="submit" class="btn btn-primary pull-right">
                    Add New
                    <div class="ripple-container"></div>
                </button>
                <img src="~/Images/loading.gif" class="pull-right loading-docs displayNone" />

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/IpListViewJs")
<script>
    $("#ipForms").addClass('active');
    var pagging= @Html.Raw(Json.Encode(Model.Pagging));
    $("#paggingDiv").pagination({
        items: pagging.TotalItems,
        itemsOnPage: pagging.ItemPerPage,
        cssStyle: 'compact-theme',
        onPageClick: function(pageNumber,event) {
            pagging.Current = (--pageNumber);
            getForms();
        }
    });

    $("#searchField").keyup(function() {
        pagging.Current = 0;
        pagging.TotalItems = 0;
        getForms();
    });

    function getForms() {
        $(".loading-docs").show();
        var term = $("#searchField").val();
        postRequest({ SearchString: term, Pagging: pagging }, "SearchIpForms", function(serverData) {
            $("#paggingDiv").pagination('updateItems', serverData.Pagging.TotalItems);
            var items = serverData.AppIps;
            var html = "";
            for (var i = 0; i < items.length; i++) {
                var row = "<tr>"+"<td>"+items[i].PatientNo+"</td>"+
                                            "<td>"+items[i].Name+"</td>"+
                                            "<td>"+items[i].DocName+" ("+items[i].Degree+")</td>"+
                                            "<td class='text-primary'>"+items[i].DateTime+"</td>"+
                                            "<td>"+items[i].Phone+"</td>"+
                                            "<td>"+items[i].AdvanceAmount+"</td>"+
                                        "</tr>";
                html = html + row;
            }
            $("#tableBody").html(html);
            $(".loading-docs").hide();
        });
    }
</script>